.happy-ill-container {
  padding: 40px 0;
}
.happy-ill {
  display: flex;
  align-items: center;
  background-color: #5d4fff;
  border-radius: 20px;
  flex-wrap: wrap;
}
.happy-ill-first {
  padding-left: 80px;
  color: #fff;
  font-weight: bold;
  flex: 1;
}
.happy-ill-first h1 {
  margin-bottom: 40px;
}
.happy-ill-second {
  height: 100%;
  flex: 1;
}
.happy-ill-second img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 0 20px 20px 0; /* yalnız sağ tərəfləri radiusla */
  display: block;
}

.book-btn-happy-client {
  background-color: #fff;
  color: #5d4fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
@media (max-width: 768px) {
  .happy-ill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .happy-ill-first {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .happy-ill-first h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
  }
  .happy-ill-second {
    width: 100%;
  }
  .happy-ill-second img {
    height: 300px;
    border-radius: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1060px) {
  .happy-ill {
    gap: 20px;
  }
  .happy-ill-first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
  }
  .happy-ill-first h1 {
    font-size: 25px;
    text-align: center;
  }
  .happy-ill-second img {
    height: 300px;
  }
}
